<footer class="site-footer">
  <div class="container">
    <p class="powered-by">

      {{ with .Site.Copyright }}{{ . | markdownify}} &middot; {{ end }}
      <!-- PGP contact -->

      <p style="font-size:12px;">
       &bull; <a href="http://martin-jung.github.io/data/mj-pubkey.asc">PGP public <i class="fa fa-key"></i></a> &bull; <br />
       BD4B 2D2C B8E3 A95B 076A
       6FA0 99DC 99BA 1BC8 BC37
      </p>

      <span class="pull-right" aria-hidden="true">
        <a href="#" id="back_to_top">
          <span class="button_icon">
            <i class="fa fa-chevron-up fa-2x"></i>
          </span>
        </a>
      </span>
        {{ if .File.Path }}
    {{ $.Scratch.Set "FilePath" .File.Path }}
    {{ $RmdFile := (print .File.BaseFileName ".Rmd") }}
    {{ $Files := readDir (print "content/" .File.Dir) }}
    {{ if (where $Files "Name" $RmdFile) }}
      {{ $.Scratch.Set "FilePath" (print .File.Dir $RmdFile) }}
    {{ else }}
      {{ $RmdFile := (print .File.BaseFileName ".Rmarkdown") }}
      {{ $mdFile := (print .File.BaseFileName ".md") }}
      {{ if (where $Files "Name" $RmdFile) }}
        {{ $.Scratch.Set "FilePath" (print .File.Dir $RmdFile) }}
      {{ else }}
        {{ $.Scratch.Set "FilePath" (print .File.Dir $mdFile) }}
      {{ end }}
    {{ end }}
    {{ with .Site.Params.GithubEdit}}
     <a href="{{ . }}{{ $.Scratch.Get "FilePath" }}">Edit this page.</a>
    {{ end }}
  {{ end }}
    </p>
  </div>
</footer>
