    <!-- Download Section -->
    <section id="consulting" class="text-center">
        <div class="consulting-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Consulting</h2>
                    <p>I am always interested collaborating in or advising projects related to my interests.
                    <br>
                    Feel free to <a href="#contact">contact</a> me!
                    </p>
                    <p>
                        <div class="col-sm-3 wrapper">
                            <div class="fix">
                                    <img src="img/oyster-catcher.png" class="img-responsive" alt="Conservation" />
                                    <div class="desc">
                                        <p class="desc_content">Conservation</p>
                                    </div>
                            </div>
                        </div>

                        <div class="col-sm-3 wrapper">
                            <div class="fix">
                                    <img src="img/stats.png" class="img-responsive" alt="Statistical consulting" />
                                    <div class="desc">
                                        <p class="desc_content">Statistical consulting</p>
                                    </div>
                            </div>
                        </div>

                        <div class="col-sm-3 wrapper">
                            <div class="fix">
                                    <img src="img/database-server.png" class="img-responsive" alt="Big data analysis" />
                                    <div class="desc">
                                        <p class="desc_content">Big data analysis</p>
                                    </div>
                            </div>
                        </div>
                        
                        <div class="col-sm-3 wrapper">
                            <div class="fix">
                                    <img src="img/globe.png" class="img-responsive" alt="GIS programming" />
                                    <div class="desc">
                                        <p class="desc_content">GIS programming</p>
                                    </div>
                            </div>
                        </div>

                    </p>
                </div>
            </div>
        </div>
    </section>