    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="titlecontainer">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading"><img src="img/profile.png" id="profilepic" alt="Martin Jung" height="100" width="100"> Martin Jung</h1>
                        <p class="intro-text">Ecologist | Conservationist | GIS analyist | Open data | Open software </p>
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>