<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{ site.description }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <!-- Custom CSS & Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link rel="stylesheet" href="{{ "/style.css" | prepend: site.baseurl }}">

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="{{ "/css/font-awesome/css/font-awesome.min.css" | prepend: site.baseurl }}">
    <link href="//fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="//fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Background switching -->
    <script>
    var backgroundImage = [];

    backgroundImage[0]='img/bcg1.jpg';
    backgroundImage[1]='img/bcg2.jpg';
    backgroundImage[2]='img/bcg3.jpg';
    backgroundImage[3]='img/bcg4.jpg';

    /*var random=Math.floor(Math.random()*11);
    document.write("<style>body {background: url("+"/assets/images/"+backgroundImage[random]+") no-repeat center center fixed;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;color:#fff;background-color:#333;}</style>")
    */

    var preloadArr = new Array();
    var i;
 
    /* preload images */
    for(i=0; i < backgroundImage.length; i++){
      preloadArr[i] = new Image();
      preloadArr[i].src = backgroundImage[i];
    }

     var currImg = 0;
     var intID = setInterval(changeImg, 10000);
 
    /* image rotator */
    function changeImg(){
      $('.intro').animate({opacity: 0}, 1000, function(){
        $(this).css('background','url(' + preloadArr[currImg++%preloadArr.length].src +') no-repeat bottom center scroll');
      }).animate({opacity: 1});
    }


    </script>

</head>