.article-header .article-banner {
      width: 50%;
      height: 50%;
      display: block;
      margin-left: auto;
      margin-right: auto;
}
.card-simple .article-banner {
      width: 350px !important;
      height: 200px !important;
      display: block;
      margin-left: auto;
      margin-right: auto;
}
