.article-header .article-banner {
      width: 50%;
      height: 50%;
      display: block;
      margin-left: auto;
      margin-right: auto;
}
.card-simple .article-banner {
      width: 350px !important;
      height: 200px !important;
      display: block;
      margin-left: auto;
      margin-right: auto;
}

/* Custom colors
https://www.materialpalette.com/blue-grey/green
#navbar-main {
    background-color: #455a64;
}
.nav {
  color: #4caf50;
}
.site-footer {
  background-color: #455a64;
 color: #757575;
}

body {color: #212121;}
h1 h2 h3 h4 {color: #4caf50;}
*/
